@import '../../../Styles/variables';
@import '../../../Styles/mixin';


.services-part {
  background-color: $success;
  height: 100vh;
  margin-top: 6rem;

  .services-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
    height: 100%;

    .services-explain {
      color: #fff;

      h5 {
        @include h5Style;
      }

      h3 {
        @include h3Style;
        margin-bottom: 2rem;
      }

      p {
        text-align: justify;
      }

      .services-ask {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 2rem;

        .services-phoneicon {
          color: $primary;
          font-size: 40px;
        }

        .services-phonenumber {
          h4 {
            color: $primary;
            font-size: 20px;
          }
        }
      }
    }
  }

  .services-slider {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 3rem;
    justify-content: center;



    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      left: 0;
      bottom: -5%;
      width: 100%;
      z-index: 10;
      position: relative;
      margin-bottom: 1rem;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-pagination-bullet {
      display: inline-block;
    }


  }
}





@include media(M) {
  .services-part {
    .services-container {
      grid-template-columns: 1fr;

      .services-explain {
        text-align: center;
        width: 90%;
        margin: 0 auto;

        h6 {
          font-size: 15px;
          font-weight: 200;
        }

        h3 {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 2rem;
        }

      }

      .services-slider {
        height: 50vh;
      }
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 10%;
    top: 70%;
  }

}

@include media(L) {
  .services-part {
    height: 50vh;

    .services-container {
      grid-template-columns: 1fr 2fr;

      .services-explain {
        text-align: center;

        h6 {
          font-size: 15px;
          font-weight: 200;
        }

        h3 {
          font-size: 25px;
          font-weight: bold;
          margin-bottom: 2rem;
        }


        .services-ask {
          width: 100%;
          justify-content: center;
        }
      }

      .services-slider {
        height: 50vh;
      }
    }
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 5%;
    top: 70%;
  }

  .swiper {
    width: 90%;
    height: 80%;
  }

}