@import '../../../Styles/variables';
@import '../../../Styles/mixin';

.contact-main-part{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 25%;
  align-items: center;
  .contact-ways{
    h3{
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    p{
      text-align: justify;
    }
    .iconbox{
      opacity: 1;
    }
  }
  .contact-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0.5rem;
    width: 80%;
    margin: 0 auto;
    

    .contact-input{
      width: 100%;
        padding:1rem 0;
        border: none;
        outline: none;
        font-family: vazir;
    }
    .contact-input:focus {
      border-bottom: 1px solid $primary;
    }

    .button{
      width: 100%;
    }
  }
}


@include media(M){
  .contact-main-part{
    grid-template-columns: 1fr;
    gap: 5px;
  }
}