@import '../../../Styles/variables';
@import '../../../Styles/mixin';

.rooms-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  min-height: 100vh;

  .rooms-title{
    border-left: 3px solid $primary;
    padding-left: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
    h5{
      @include h5Style;
      margin-bottom: 0.5rem;
      
    }
    h3{
      @include h3Style;
      
    }
  }


  .rooms-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
  }
}

@include media(M){
  .rooms-container{
    margin-top: 2rem;
    .rooms-title{
      h6{
        font-size: 23px;
      }
      h3{
        font-size: 25px;
      }
    }
    .rooms-cards{
      grid-template-columns: 1fr;
    }
  }
}

@include media(L){
  .rooms-container{
    margin-top: 2rem;
    .rooms-title{
      h6{
        font-size: 23px;
      }
      h3{
        font-size: 25px;
      }
    }
    .rooms-cards{
      grid-template-columns: 1fr 1fr;
    }
  }
}