@import '../../Styles/variables';
@import '../../Styles/mixin';


.news-part{
  min-height: 100vh;
  background-color: $success;
  .news-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 4rem 0;

    .news-card{
      margin-bottom: 4rem;
    }
  }
}

@include media(M){
  .news-part{
    .news-container{
      grid-template-columns: 1fr;
    }
  }
}