@import '../../Styles/variables';
@import '../../Styles/mixin';

nav {
  width: 100%;
  position: absolute;
  z-index: 1000;
  height: 90px;
  top: 0;
  right: 0;
  transition: all .3s ease;

  .nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .menuicon {
    display: none;
  }

  .logo {
    width: 20%;

    img {
      width: 100%;
    }
  }

  .links {
    width: 80%;
    display: flex;
    justify-content: space-evenly;

    .link {
      color: $secondary;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.7rem;
      transition: all .3s ease;

      .arrowicon {
        font-size: 13px;
      }
    }
    .link:hover{
      color: $primary;
    }

  }
}

nav.active {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  .link {
    color: #000;
  }

}

@include media(M){
  nav{

    .logo{
      width: 40%;
    }
    .links{
      display: none;
    }

    .menuicon{
      display: block;
      color: $primary;
      font-size: 20px;
    }
  }
}

@include media(L){
  
}